html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #1F2937;
    color: #E5E7EB;
}

h1 {
    font-size: 3rem;
    margin-block-end: 0px;
}

button {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 15px;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 25px;
    border: 1px solid #E5E7EB;
}

.square {
    flex: 1;
    height: 1fr;
    width: 1fr;
    border: 1px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.title-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.title-screen div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.player-select {
    display: flex;
    flex-wrap: wrap;
}

.player-select-item {
    flex-direction: column;
    font-size: 2rem;
}

.player-select-item input,
.player-select-item select {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    background-color: #E5E7EB;
    width: 100%;
}

.messages,
.controls {
    height: 3rem;
    font-size: 2rem;
}

.end-div {
    display: flex;
    gap: 15px;
}